.about {
  background-color: #fff;

  & .container {
    max-width: 1265px;

    @include media-4 {
      padding: 0;
    }
  }

  // .about__subtitle
  &__subtitle {
    margin-bottom: 65px;
    padding: 0 15px;
  }
  // .about__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 33px 88px;

    @include media-2 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 33px 60px;
    }

    @include media-3 {
      grid-gap: 20px 30px;
    }

    @include media-4 {
      grid-template-columns: repeat(1, 1fr);
      // grid-gap: 33px 60px;
    }
  }
  // .about__item
  &__item {
    position: relative;
    padding: 30px 20px 21px;
    min-height: 353px;
    color: #3a3737;
    border-radius: 23px;
    transition: all 0.5s;

    @include media-4 {
      min-height: 290px;

      border-radius: 0;
    }

    &:hover {
      & .about {
        &__item-text {
          border-color: white;
        }
      }
      background: rgba($color: red, $alpha: 0.8);
      color: white;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 20px;
      right: 0;
      background-image: url('../../images/icons/code.png');
      width: 157px;
      height: 116px;
      object-fit: contain;
    }
  }
  // .about__item-title
  &__item-title {
    margin-bottom: 23px;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.095;

    @include media-3 {
      font-size: 18px;
    }
    @include media-4 {
      font-size: 16px;
    }
  }
  // .about__item-text
  &__item-text {
    padding-top: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border-top: 1px solid #3a3737;
    transition: border-color 0.5s;
  }
}
