.home {
  position: relative;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.section {
    min-height: calc(100vh - 132px);

    @include media-2 {
      min-height: 100%;
    }
  }

  // &::after {
  //   content: '';
  //   // position: absolute;
  //   // bottom: 0;
  //   // left: 50%;
  //   // transform: translateX(-50%);
  //   display: block;
  //   background-image: url('../images/home/people.png');
  //   background-size: cover;

  //   object-fit: contain;
  //   max-width: 1438px;
  //   width: 100%;
  //   height: 440px;
  // }
  & .container {
    max-width: 1307px;
  }

  &__img {
    // display: block;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
  }

  // .home__title
  &__title {
    font-weight: 600;
    font-size: 96px;
    line-height: 1.16;
    margin-bottom: 25px;

    @include media-1 {
      font-size: 70px;
    }

    @include media-2 {
      font-size: 52px;
    }

    @include media-3 {
      font-size: 36px;
    }

    @include media-4 {
      font-size: 25px;
    }
  }
  // .home__title-text
  &__title-text {
    background: linear-gradient(92.81deg, #ff1717 6.3%, #ff8988 97.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  // .home__title-elipse
  &__title-elipse {
    position: relative;
    display: inline-block;
    width: 166px;
    height: 81px;

    @include media-1 {
      height: 60px;
    }

    @include media-2 {
      width: 100px;
    }

    @include media-3 {
      height: 43px;
    }

    @include media-4 {
      width: 55px;
      height: 28px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 166px;
      height: 81px;
      border: 2px solid #ffffff;
      border-radius: 48px;

      @include media-1 {
        left: -7px;

        height: 60px;
      }

      @include media-2 {
        left: -80px;
      }

      @include media-3 {
        top: 8px;

        height: 43px;
      }

      @include media-4 {
        left: -122px;
        height: 28px;
      }
    }
  }
  // .home__box
  &__box {
    display: flex;

    @include media-2 {
      flex-direction: column;
    }
  }
  // .home__list
  &__list {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.095;

    @include media-2 {
      margin-bottom: 32px;
      font-size: 18px;
    }

    @include media-4 {
      font-size: 14px;
    }
  }
  // .home__list-item
  &__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &::before {
      content: '';
      display: block;
      margin-right: 17px;
      min-width: 19px;
      height: 19px;
      border: 1px solid #ffffff;
      border-radius: 50%;

      @include media-4 {
        margin-right: 7px;

        min-width: 12px;
        height: 12px;
      }
    }
  }

  &__button-box {
    position: relative;
    padding-left: 100px;

    @include media-2 {
      align-self: center;
      padding-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 175px;
      top: 32px;
      width: 378px;
      height: 81px;
      border: 2px solid #ffffff;
      border-radius: 48px;

      @include media-2 {
        left: 30px;
        top: 20px;
        width: 1378px;
      }

      @include media-4 {
        height: 47px;
      }
    }
  }
  // .home__button
  &__button {
    position: relative;
    display: block;
    width: 154px;
    height: 154px;
    border-radius: 50%;
    background: #ffffff;

    @include media-2 {
      width: 120px;
      height: 120px;
    }

    @include media-4 {
      width: 83px;
      height: 83px;
    }

    &::before {
      content: '';
      background-image: url('../../images/icons/arrow-down.png');
      background-size: cover;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 29.91px;
      width: 60px;
      height: 60px;

      @include media-4 {
        top: 13px;
        width: 37px;
        height: 32px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
      top: 50%;
      width: 58px;
      height: 58px;
      background: linear-gradient(92.81deg, #ff1717 6.3%, #ff8988 97.86%);
      mix-blend-mode: normal;
      opacity: 0.26;
      border-radius: 50%;

      @include media-4 {
        width: 38px;
        height: 38px;
      }
    }
  }
  // .home__button-text
  &__button-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    animation: animate 25s linear infinite;

    @include media-2 {
      font-size: 12px;
    }
    @include media-4 {
      font-size: 10px;
    }

    p span {
      position: absolute;
      left: 50%;
      transform-origin: 0 77px;

      @include media-2 {
        transform-origin: 0 60px;
      }

      @include media-4 {
        transform-origin: 0 41.5px;
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
