.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
  // .portfolio__subtitle
  &__subtitle {
    margin-bottom: 50px;
    font-weight: 600;
    line-height: 1.13;
    color: white;
  }
  // .portfolio__tags
  &__tags {
    display: flex;
    align-items: center;
    margin-bottom: 46px;

    @include media-3 {
      overflow-x: auto;
    }
  }
  // .portfolio__tag
  &__tag {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    transition: all 0.3s;

    @include media-2 {
      font-size: 16px;
    }
    @include media-3 {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      background: white;
      color: #191733;
    }

    &.active {
      background: white;
      color: #191733;
    }
  }
  // .portfolio__content
  &__content {
  }
}

.content {
  // .content__list
  &__list {
    overflow: hidden;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px 15px;
    transition: all 0.9s;

    @include media-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .content__item
  &__item {
  }
  // .content__item-img
  &__item-img {
  }

  &__circle-button {
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 11;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 74px;
      height: 74px;
      background-color: #fff;
      border-radius: 50%;
    }

    &::after {
      content: '';
      background-image: url('../../images/icons/arrow-down-black.png');
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      width: 60px;
      height: 60px;
      transition: all 0.5s;
    }

    &--active {
      &::after {
        transform: translateX(-50%) rotate(180deg);
      }
    }
  }

  &__circle-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    animation: animate 25s linear infinite;

    p {
      & span {
        position: absolute;
        left: 50%;

        transform-origin: 0 60px;
      }
    }
  }
}

.shadow {
  width: 100%;
  height: 84px;
  margin-top: 0;
  background-color: #191733;
  box-shadow: 0 -50px 50px 20px #191733;
  transition: all 0.5s;

  &--active {
    margin-top: 80px;
    opacity: 0;
  }
}
