.questions {
  background-color: #fff;
  // .questions__subtitle
  &__subtitle {
    margin-bottom: 56px;

    @include media-2 {
      margin-bottom: 5px;
    }
  }
}

.question {
  padding-bottom: 20px;
  border-bottom: 1px solid #191733;
  // .question__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29.5px 10px;
    cursor: pointer;

    @include media-2 {
      padding: 29.5px 10px 12px;
    }
    @include media-3 {
      padding: 19px 10px 0;
    }
  }
  // .question__title
  &__title {
    max-width: 1083px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.13;
    color: #191733;
    margin-right: 10px;

    @include media-2 {
      font-size: 26px;
    }

    @include media-3 {
      font-size: 20px;
    }
    @include media-4 {
      font-size: 16px;
    }
  }
  // .question__button
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    height: 45px;
    background: #191733;
    border-radius: 50%;
    z-index: 1;

    @include media-3 {
      min-width: 10px;
      max-width: 29px;
      width: 100%;
      height: 29px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: linear-gradient(92.81deg, #ff1717 6.3%, #ff8988 97.86%);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: -1;

      @include media-3 {
        width: 29px;
        height: 29px;
      }
    }

    &--active {
      &::before {
        opacity: 1;
      }

      .question {
        &__button-img {
          transform: rotate(90deg);
        }
      }
    }
  }
  &__button-img {
    transition: all 0.3s;
  }
  // .question__text
  &__text {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    font-size: 18px;
    line-height: 145.5%;
    color: rgba(35, 33, 61, 0.6);
    transition: max-height 0.3s;

    @include media-3 {
      padding: 10px 40px 0 10px;
      font-size: 14px;
    }

    @include media-4 {
      padding: 10px 10px 0 10px;
    }
  }
}

.answer {
  // .answer__text
  &__text {
    margin-bottom: 20px;
  }
  // .answer__list
  &__list {
    display: flex;

    @include media-3 {
      flex-direction: column;
    }
  }
  // .answer__item
  &__item {
    width: 33.3%;
    &:nth-child(2) {
      border-right: 1px solid black;
      border-left: 1px solid black;

      @include media-3 {
        border: none;
      }
    }

    @include media-3 {
      width: 100%;
    }
  }
  &__item-wrapper {
    padding: 10px;
  }
  // .answer__title
  &__title {
    padding: 10px 0;
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid black;
  }
  // .answer__info
  &__info {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  // .answer__benefits
  &__benefits {
    margin-bottom: 10px;
  }
  // .answer__benefits-title
  &__benefits-title {
    font-weight: 800;
  }
  // .answer__benefits-item
  &__benefits-item,
  &__flaws-item {
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: rgba(35, 33, 61, 0.6);
    }
  }

  // .answer__flaws-title
  &__flaws-title {
    font-weight: 800;
  }
}

.answer-five {
  &__list {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
    padding-left: 15px;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: rgba(35, 33, 61, 0.6);
    }
  }
}
