.request-button {
  &__link {
    position: relative;
    display: block;
    max-width: 215px;
    width: 100%;
    padding: 14px 74px 14px 14px;
    background: linear-gradient(92.81deg, #ff1717 6.3%, #ff8988 97.86%);
    border-radius: 9px;
    font-weight: 500;
    color: white;
    box-shadow: 0 3px 10px inherit;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 10px black;

      &::before {
        animation: floatArrowHorizontal 1.2s ease-in-out infinite;
      }
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;

      &::before {
        right: 36px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('../../images/icons/arrow-right.png');
      right: 36px;
      top: 50%;
      transform: translateY(-50%);
      width: 29px;
      height: 29px;
      transition: all 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      right: 12.11px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.26;
      border-radius: 50%;
    }
  }
}

@keyframes floatArrowHorizontal {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  50% {
    transform: translateX(-10px) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}
